.container {
    border: 5px solid #ffcc5c;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
}

.container > div {
    /* flex: 1; */
    width: 33.3333%;
}

/* flex-grow, flex-shrink, flex-basis */